{# This is the page that will allow admins to see their current partners #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Partenaires {% endblock %}

{% block body %}
<h1>Partenaires</h1>
<table class="table-refill table table-hover"> 
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Logo</th>
                <th scope="col">Lien vers le site</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.name }}</td>
                <td><img src="/assets/images/uploads/{{ partner.icon }}" alt="logo de {{ partner.name }}"></td>
                <td>{{ partner.link }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('admin_current_partner_show', {'id': partner.id}) }}" roles="button">Details</a>
                    <a class="btn btn-outline-info" href="{{ path('admin_current_partner_edit', {'id': partner.id}) }}" roles="button">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun partenaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class=" btn-add btn btn-success"href="{{ path('admin_current_partner_new') }}" role="button">Ajouter un partenaire</a>
{% endblock %}
