{% extends 'base.html.twig' %}

{% block navbar %}

<nav class="navbar navbar-light navbar-expand-lg header-nav fixed-top">
    <a class="navbar-brand" href="{{path('product_vehicles')}}"><img src="/assets/images/logo.png" class="logoMobilean" alt="logo Mobilean"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{path('product_vehicles')}}">Nos solutions clés en main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('product_charging_stations')}}">Nos solutions de ravitaillement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact_estimate')}}">Je décris mon besoin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('contact_partner')}}">Devenir installateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('information_about')}}">À propos de nous</a>
            </li>
            <li class="nav-item">
                {# If admin on the site user he can return on site adminisrator #}
                {% if app.user %}
                    <a class="nav-link" href="{{path('admin_home')}}">Revenir au site administrateur</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {# If admin connects he can see logout button #}
                {% if app.user %}
                    <a class="nav-link nav-style" href="{{ path('app_logout') }}">Se déconnecter</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row-footer row justify-content-around">
            <a class="nav-link nav-style" href="{{path('contact_message')}}">Contactez-nous</a>
            <a class="nav-link nav-style" href="{{path('information_legal')}}">Mentions légales</a>
        </div>
        <h3 class="row-footer row justify-content-md-center">Nos partenaires</h3>
        <div class="row-image row justify-content-around">
         {% for partner in partners %}
            <div class="col">  
                <a href="{{ partner.link }}">
                    <img src="/assets/images/uploads/{{ partner.icon }}" alt="logo de {{ partner.name }}" title="{{ partner.name }}">
                </a>
            </div>
        {% endfor %}
        </div>
        
    </div>
</footer> 
{% endblock %}
