{# This is the page that will display informations about one vehicle #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}vehicle - {{ parent() }} {{ vehicle.id }}{% endblock %}

{% block body %}
<h1>Nos vehicules</h1>

    <section class="presentation-rental">
        <div> 
            <h2 class="Offerpresentation">Nos offres clé en main en location longue durée</h2>
            <hr>
            <ul class="vehicle-list">
                <li class="vehicle-detail-left"><img src="/assets/images/car.png" class="" alt="picture car"></li>
                <li class="vehicle-detail-right"><img src="/assets/images/petrol.png" class="" alt="picture refillstation"></li>
                <li class="vehicle-detail-left" id="vehicle-right">Un véhicule :</li> 
                <li class="vehicle-detail-right" id="vehicle-left">Une borne de recharge :</li>
                <li class="vehicle-detail-left">équipé d'origine au GNV par le constructeur</li>
                <li class="vehicle-detail-right">installée sur votre réseau de Gaz Naturel domestique</li>
            </ul>
        </div>
   </section>

    <section>
        <h2 id="vehicle-title">{{ vehicle.name }}</h2>
        <hr>
        <div class="vehicle-description">
            <img class= "vehicle-picture" src=" /assets/images/uploads/{{ vehicle.photo }}" alt="Photo du véhicule"> 
            <div class="vehicule-details">
                <h3 class="vehicule-details-title">Caractéristiques du véhicule</h3>
                    <table class="table-show-vehicle table table-hover">
                        <tbody>
                            <tr>
                                <th scope="col">Description</th>
                                <td>{{ vehicle.description }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Type de véhicule</th>
                                <td>{{ vehicle.type }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Puissance fiscale</th>
                                <td>{{ vehicle.fiscalPower }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Puissance réelle</th>
                                <td>{{ vehicle.actualPower }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Capacité réservoir GNV</th>
                                <td>{{ vehicle.tankCapacityCNG }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Consommation GNV</th>
                                <td>{{ vehicle.consumptionCNG }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Capacité carburant</th>
                                <td>{{ vehicle.tankCapacityFuel }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Consommation carburant</th>
                                <td>{{ vehicle.consumptionFuel }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Autonomie</th>
                                <td>{{ vehicle.autonomy }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Vol.compartiment arrière</th>
                                <td>{{ vehicle.rearVolume }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th>
                                <a href="{{ path('product_vehicles') }}">Retour sur la page d'accueil</a>
                            </th>
                        </tfoot>
                    </table>
                <a href="{{path('contact_estimate')}}"><input class="request-button" type="button" value="Demande de devis"></a>
            </div>
        </div>
    </section>
{% endblock %}
                            <tr>
                                <th scope="col">Vol.compartiment arrière</th>
                                <td>{{ vehicle.rearVolume }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th>
                                <a href="{{ path('product_vehicles') }}">Retour sur la page d'accueil</a>
                            </th>
                        </tfoot>
                    </table>
                <a href="{{path('contact_estimate')}}"><input class="request-button" type="button" value="Demande de devis"></a>
            </div>
        </div>
    </section>
{% endblock %}
