{# This is the page that will display informations about one vehicle #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}vehicle - {{ parent() }} {{ vehicle.id }}{% endblock %}

{% block body %}
    <section>
        <h2 id="vehicle-title">{{ vehicle.name }}</h2>
        <hr>
        <div class="vehicle-description">
            <img class= "vehicle-picture" src=" /assets/images/uploads/{{ vehicle.photo }}" alt="Photo du véhicule"> 
            <div class="vehicule-details">
                <h3 class="vehicule-details-title">Caractéristiques du véhicule</h3>
                    <table class="table-show-vehicle table table-hover">
                        <tbody>
                            <tr>
                                <th scope="col">Description</th>
                                <td>{{ vehicle.description }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Type de véhicule</th>
                                <td>{{ vehicle.type }}</td>
                            </tr>
                            <tr>
                                <th scope="col">Puissance fiscale</th>
                                <td>
                                    {% if vehicle.fiscalPower is not empty %}
                                        {{ vehicle.fiscalPower }} ch
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Puissance réelle</th>
                                <td>
                                    {% if vehicle.actualPower is not empty %}
                                        {{ vehicle.actualPower }} ch
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Capacité réservoir GNV</th>
                                <td>
                                    {% if vehicle.tankCapacityCNG is not empty %}
                                        {{ vehicle.tankCapacityCNG }} kg
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Consommation GNV</th>
                                <td>
                                    {% if vehicle.consumptionCNG is not empty %}
                                        {{ vehicle.consumptionCNG }} kg / 100km
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Capacité carburant</th>
                                <td>
                                    {% if vehicle.tankCapacityFuel is not empty %}
                                        {{ vehicle.tankCapacityFuel }} L
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Consommation carburant</th>
                                <td>
                                    {% if vehicle.consumptionFuel is not empty %}
                                        {{ vehicle.consumptionFuel }} L / 100km
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">Autonomie</th>
                                <td>
                                    {% if vehicle.autonomy is not empty %}
                                        {{ vehicle.autonomy }} km
                                    {% else %}
                                        Non Renseigné
                                    {% endif %}
                                </td>
                            </tr>
                            {% if vehicle.rearVolume is not empty %}
                                <tr>
                                    <th scope="col">Vol.compartiment arrière</th>
                                    <td>{{ vehicle.rearVolume }} m3</td>
                                </tr>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <th>
                                <a href="{{ path('product_vehicles') }}">Retour sur la page d'accueil</a>
                            </th>
                        </tfoot>
                    </table>
                <a href="{{path('contact_estimate')}}"><input class="request-button" type="button" value="Demande de devis"></a>
            </div>
        </div>
    </section>
{% endblock %}
