{# This is the page that will display a form for users to ask for an estimate #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }} - Demande de Devis{% endblock %}

{% block body %}

<input id="switchCompany" onclick="company()" value="Je suis une entreprise" type="submit" />
<input id="switchParticular" onclick="paticular()" value="Je suis un particulier" type="submit" />

<div id="formCompany">
    <h1>Je suis une entreprise</h1>
    <hr>
    {{ form_start(formCompanies) }}
    {{ form_widget(formCompanies) }}
    <button class="btn">Valider</button>
    {{ form_end(formCompanies) }}
</div>

<div id="formParticular" style="display:none">
    <h1>Je suis un particulier</h1>
    <hr>
    {{ form_start(formIndividuals) }}
    {{ form_widget(formIndividuals) }}
    <button class="btn">Valider</button>
    {{ form_end(formIndividuals) }}
</div>

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('switchForm') }}
{% endblock %}

{% endblock %}
