{# This is the page that will display a form for users to ask for an estimate #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Demande de Devis - {{ parent() }}{% endblock %}

{% block body %}

<input id="switch" value="Formulaire - Je suis un particulier" type="submit" />
<div id="formCompany">
    <h2>Je suis une entreprise :</h2>
    {{ form_start(formCompanies) }}
        {{ form_widget(formCompanies) }}
        <button class="btn">Valider</button>
    {{ form_end(formCompanies) }}
</div>

<div id="formParticular" style="display:none">
    <h2>Je suis un particulier :</h2>
    {{ form_start(formIndividuals) }}
        {{ form_widget(formIndividuals) }}
        <button class="btn">Valider</button>
    {{ form_end(formIndividuals) }}
</div>

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('switchForm') }}
{% endblock %}

{% endblock %}
