{# This is the page that will display a form for users to ask for partnership #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}{{ parent() }} - Devenir Installateur{% endblock %}

{% block body %}

<div id="formPartner">
    <h1>Devenir Installateur</h1>
    <hr>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-5 offset-1">{{ form_row(form.businessName) }}</div>
            <div class="col-md-5">{{ form_row(form.numberSIREN) }}</div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-1">{{ form_row(form.expertise) }}</div>
            <div class="col-md-5">{{ form_row(form.otherExpertise) }}</div> 
        </div>
        <div class="row">
            <div class="col-md-5 offset-1">{{ form_row(form.fullName) }}</div>
            <div class="col-md-5">{{ form_row(form.jobTitle) }}</div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-1">{{ form_row(form.telephone) }}</div>
            <div class="col-md-5">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-1">{{ form_row(form.address) }}</div>
            <div class="col-md-2">{{ form_row(form.zipCode) }}</div>
            <div class="col-md-3">{{ form_row(form.city) }}</div>
        </div>
        <div class="row">
            <div class="col-md-5 offset-1">{{ form_row(form.workforce) }}</div>
            <div class="col-md-5">{{ form_row(form.message) }}</div>
        </div>
        {{ form_widget(form) }}
        <button class="btn">Valider</button>
    {{ form_end(form) }}
</div>
{% endblock %}

